<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      NOTE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!-- Judul -->
Judul : <ion-input placeholder="Judul" [(ngModel)]="judul"></ion-input>
<br>
<!-- Isi Note -->
Isi : <ion-input placeholder="Isi Note" [(ngModel)]="isi"></ion-input>
<br>
<!-- Nilai Note -->
Nilai : <ion-input placeholder="Nilai Note" [(ngModel)]="nilai"></ion-input>
<br>
Gambar : <ion-fab-button (click)="TambahFoto()">
  <ion-icon name="camera"></ion-icon>
</ion-fab-button>
<br>
<ion-button (click)="upload()">add note</ion-button>


<ion-grid>
     <ion-row  *ngFor="let data of isiData | async">
       <ion-col>
         <h1 style="color: coral;">{{data.judul}} </h1> 
       </ion-col>
       <ion-col>
         <p style="color:blue">{{data.isi}}</p>
       </ion-col>
       <ion-col>
         <ion-button (click)="detail(data.id)">Detail</ion-button>
       </ion-col>
     </ion-row>
</ion-grid>






</ion-content>
